#body {
    background-color: rgb(11, 127, 194);
}
#guesserBody{margin-top : 150px; border: turquoise solid 5px;}


h2 {
    text-align: center;
    padding-bottom: 25px;
    color: honeydew;
}

#btn {
    color: white;
    background: hotpink;
}

.wrapper {
    text-align: center;
}



#btnInfo {
   
    color: white;
    background: hotpink;
}